/*** ANIMATION ***/
@keyframes moveBackForth {
    0% {
        left: 20%;
    }

    50% {
        left: 75%;
    }

    100% {
        left: 20%;
    }
}

@keyframes smolMoveUpDown {
    0% {
        top: 0;
    }

    50% {
        top: 20px;
    }

    100% {
        top: 0px;
    }
}

@keyframes moveUpDown {
    0% {
        top: 0;
    }

    50% {
        top: 100px;
    }

    100% {
        top: 0;
    }
}

@keyframes bopBackForth {
    0% {
        transform: rotate(-20deg);
    }

    50% {
        transform: rotate(20deg);
    }

    100% {
        transform: rotate(-20deg);
    }
}


/*** BODY ***/
.body {
    position: absolute;
    
    &.animation-0 {
        animation: moveBackForth 17s infinite, smolMoveUpDown 5s infinite, bopBackForth 10s infinite;
    }

    &.animation-1 {
        animation: moveUpDown 7s infinite;
    }

    &.animation-2 {
        animation: bopBackForth 4s infinite;
    }

    &.delay-0 {
        animation-delay: 100ms;
    }

    &.delay-1 {
        animation-delay: 500ms;
    }
    
    &.delay-2 {
        animation-delay: 1000ms;
    }
    
    &.delay-3 {
        animation-delay: 1500ms;
    }
}
.body-image-container {
    position: relative;
    display: inline-flex;
  

}

.body-name {
    position: absolute;
    font-weight: 400;
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
    z-index: 3;
    font-weight: bold;
    background: black;
    color: #fff;
    padding: 0px 5px;
}

.body-head {
    max-width: 150px;
    border-radius: 50%;
    position: absolute;
    z-index: 2;
    left: 50%;
    transform: translateX(-50%);
    top: 35px;
}

.body-image {
    max-height: 498px;
    width: auto;
}

